# PRACTICAL QUESTIONS

In [ ]:
#1 Write a code to create a string with your name and print it ?

name ="Pinki Rai"
print("My name is", name)

My name is Pinki Rai

In [ ]:
#2 Write a code to find the length of the string "Hello World" ?

name_1 = "Hello World"
print("The length of the string is", len(name_1))

The length of the string is 11

In [ ]:
#3 Write a code to slice the first 3 characters from the string "Python Programming" ?

String_1 = "Python Programming"
print(" The string after sliced:", String_1[0:3])

 The string after sliced: Pyt

In [ ]:
#4 Write a code to convert the string "hello" to uppercase ?

String_2 = "hello"
print("The string after converting to uppercase:", String_2.upper())

The string after converting to uppercase: HELLO

In [ ]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

sentence = "I like apple"
print("The string after replacing:", sentence.replace("apple", "orange"))

The string after replacing: I like orange

In [ ]:
#6 Write a code to create a list with numbers 1 to 5 and print it ?

List = [1,2,3,4,5]
print("The list is:", List)

The list is: [1, 2, 3, 4, 5]

In [ ]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4] ?

Series = [1,2,3,4]
Series.append(10)
print("The list after appending:", Series)

The list after appending: [1, 2, 3, 4, 10]

In [ ]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?

List_1 =[1,2,3,4,5]
List_1.remove(3)
print("The list after removing:", List_1)

The list after removing: [1, 2, 4, 5]

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

Alphabet = ["a","b","c","d"]
print(" The second slement is:", Alphabet[1])

 The second slement is: b

In [ ]:
#10  Write a code to reverse the list [10, 20, 30, 40, 50] ?

Num = [10,20,30,40,50]
print("The list after reversing:", Num[::-1])

The list after reversing: [50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it ?

Tup_1 = (100,200,300)
print("The tuple is:", Tup_1)
print("the type is:",type(Tup_1))

The tuple is: (100, 200, 300)
the type is: <class 'tuple'>

In [ ]:
#12   Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow') ?
colour = ("red","grren", "blue", "yellow")
print("The second-to-last element is:", colour[-2])

The second-to-last element is: blue

In [ ]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15) ?

Num_1 = (10,20,5,15)
for num in Num_1:
  if num == min(Num_1):
    print("The minimum number is:", num)

The minimum number is: 5

In [ ]:
#14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?

animal = ("dog","cat","rabbit")
print("The index of the given element is:", animal.index("cat"))

The index of the given element is: 1

In [ ]:
#15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it ?

fruit_list = ("banana", "apple", "kiwi")
for i in fruit_list:
  if i == "kiwi":
    print("It is there")

It is there

In [ ]:
#16  Write a code to create a set with the elements 'a', 'b', 'c' and print it ?

Set_1 = {"a","b","c"}
print("The set is:", Set_1)
print("The type is:", type(Set_1))

The set is: {'a', 'b', 'c'}
The type is: <class 'set'>

In [ ]:
#17  Write a code to clear all elements from the set {1, 2, 3, 4, 5} ?

series_1 ={1,2,3,4,5}
series_1.clear()
print("The set after clearing:", series_1)

The set after clearing: set()

In [ ]:
#18  Write a code to remove the element 4 from the set {1, 2, 3, 4} ?
Num_series ={1,2,3,4}
Num_series.remove(4)
print("The set after removing:", Num_series)

The set after removing: {1, 2, 3}

In [ ]:
#19   Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5} ?

sets_1 ={1,2,3}
sets_2 = {3,4,5}
union_1 = sets_1 | sets_2
print("The union of the two sets:", union_1)

The union of the two sets: {1, 2, 3, 4, 5}

In [ ]:
#20   Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4} ?
sets_1 ={1,2,3}
sets_2 = {2,3,4}
inter_1 = sets_1 & sets_2
print("The intersection of the two sets:", inter_1)

The intersection of the two sets: {2, 3}

In [ ]:
#21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it ?

Detail = {"name": "Pinki", "age": 24, "city": "siliguri"}
print(Detail)
print(type(Detail))

{'name': 'Pinki', 'age': 24, 'city': 'siliguri'}
<class 'dict'>

In [ ]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25} ?

Detail_1 = {"name": "John", "age":25}
Detail_1["country"] = "USA"
print(Detail_1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30} ?

A = {"name":"Alice", "age":30}
A["name"]

'Alice'

In [ ]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'} ?
X = {"name":"Bob", "age":22, "city": "New york"}
del X["age"]
print(X)

{'name': 'Bob', 'city': 'New york'}

In [ ]:
#25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'} ?

A = {"name":"Alice", "city":"Paris"}
")

TypeError: dict.keys() takes no arguments (1 given)

In [ ]:
#25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'} ?

A = {"name":"Alice", "city": "Paris"}
if "city" in A:
  print("true")

true

In [ ]:
#26  Write a code to create a list, a tuple, and a dictionary, and print them all ?

List_Num = [1,10,1.1,3+4j,"List",True]
print(List_Num)
Tuple_num = (1,2,3,4,1.1, "tuple",True)
print(Tuple_num)
Dit_num ={"x": 24,"y": 20}
print(Dit_num)

[1, 10, 1.1, (3+4j), 'List', True]
(1, 2, 3, 4, 1.1, 'tuple', True)
{'x': 24, 'y': 20}

In [ ]:
#27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#    result.(replaced) ?

import random

Number_1 = [random.randint(1,100) for _ in range(5)]
print(Number_1)
Number_1.sort()
print(Number_1)

[11, 54, 85, 51, 47]
[11, 47, 51, 54, 85]

In [ ]:
#28  Write a code to create a list with strings and print the element at the third index ?

List_str = ["songs","dance", "instrument", "muse", "tune"]
print("The third index:", List_str[3])

The third index: muse

In [ ]:
#29  Write a code to combine two dictionaries into one and print the result ?

Dict_1 = {"x": 10,"y":20}
Dict_2 = {"z":30,"a": 100}
Mix_Dict = Dict_1 | Dict_2
print(Mix_Dict)

{'x': 10, 'y': 20, 'z': 30, 'a': 100}

In [ ]:
#30  Write a code to convert a list of strings into a set ?

Name = "EDUCATION"
print(Name)
print(type(Name))
Set_name = set(Name)
print(Set_name)
print(type(Set_name))

EDUCATION
<class 'str'>
{'C', 'D', 'O', 'T', 'U', 'A', 'N', 'E', 'I'}
<class 'set'>