<a href="https://colab.research.google.com/github/Pinki-rai487/Data_Structure/blob/main/Functions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions: Reusable code block that performs a specific task.

Below is the syntax to define any user-defined functions:

```python
def function_name(parameters):
  # function body: logic to define the functions


# function calling
function_name(arguments)
```

In [ ]:
# function definition: user_name is a parameter
def greet(user_name):
  print("Hello, " + user_name + "!")


# function calling
# 'Priya Bhatia' is an argument
greet('Priya Bhatia')

Hello, Priya Bhatia!

In [ ]:
greet('Sherya Agarwal')

Hello, Sherya Agarwal!

Default parameters

In [ ]:
def my_function(a, b, c = 10):
  return a + b - c

result = my_function(20, 30, 5)
print(result)

45

In [ ]:
result = my_function(20, 30)
print(result)

40

In [ ]:
def calculate_result(x, y, z = 1, w = 5):
  return x + y + z + w

result = calculate_result(1, 2, w = 3)
print(result)

7

Incorrect usage of the default parameters

In [ ]:
def calculate_result(x = 1, y, z = 1, w = 5):
  return x + y + z + w

result = calculate_result(1, 2, w = 3)
print(result)

SyntaxError: non-default argument follows default argument (ipython-input-6-717157096.py, line 1)

print vs return statement

In [ ]:
# function definition
def add_with_print(a, b):
  print('The sum is: ', a+b)

def add_with_return(a, b):
  return a + b

# function calling
add_with_print(3, 5)
result = add_with_return(3, 5)
print("The sum is: ", result)

The sum is:  8
The sum is:  8

Create the function `max_of_three(a, b, c)` and return the maximum out of these three values.

In [ ]:
def max_of_three(a, b, c):
    if a >= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c

a, b, c = 10, 25, 2
result = max_of_three(a, b, c)
print(result)

25

Create a function `calculate_total_cost(prices)` to evaluate the sum of the prices.

In [ ]:
# function definition
def calculate_total_price(cost_prices):
  total = 0
  for price in cost_prices:
    total += price
  return total

# list containing the prices
cost_prices = [10, 20, 30, 40]
total = calculate_total_price(cost_prices)
print(total)

100

Create a function `is_palindrome(n)` that returns whether the number is a palindrome or not.

In [ ]:
# function definition
def is_palindromic(n):
  str_n = str(n)
  ## slicing operation only in the list/string data structure
  return str_n == str_n[::-1]

n = 12321
# function calling
is_palindromic(n)

True

In [ ]:
n = 12345
is_palindromic(n)

False

Create a function `is_armstrong(n)` to determine whether the given number is an armstrong number or not.

In [ ]:
def is_armstrong(n):
  str_n = str(n)
  num_digits = len(str_n)
  # generator expression
  sum_of_powers = sum(int(digit) ** num_digits for digit in str_n)
  return sum_of_powers == n

# function calling
is_armstrong(370)

True

In [ ]:
is_armstrong(123)

False

List Comprehension: Equivalent using for loops

In [ ]:
cube = [x**3 for x in range(5)]

cube

[0, 1, 8, 27, 64]

In [ ]:
squares = []

for x in range(5):
  squares.append(x**2)

print(squares)

[0, 1, 4, 9, 16]

Create a function `sum_and_product(a, b)` used to calculate the sum and the product of the two numbers and return the result.

In [ ]:
def sum_and_product(a, b):
  sum_result = a + b
  product_result = a * b
  return sum_result, product_result


num1 = 10
num2 = 20

# return more than one result also in function calling
sum_result, product_result = sum_and_product(num1, num2)
print(sum_result)
print(product_result)

30
200

Scope of the variables: It refers to the region where a variable is visible and can be easily accessed.

1. Global Scope

2. Local Scope

In [ ]:
x = 10 # global variable

def my_function():
  print(x)

my_function()
print(x)

10
10

In [ ]:
def my_function():
  y = 20 # local variable
  print(y)

my_function()
print(y) # error -> access the local variable 'y'. And that's the main reason we are getting the error mentioned as 'y' is not defined

20

NameError: name 'y' is not defined

Methods: It is associated with the object or class.

In [ ]:
class Calculator:
  def add(self, a, b):
    return a + b

calc = Calculator()
result = calc.add(2, 3)
print(result)

5